
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    
      <li><a href="/agregarproducto">crear productos</a></li>
      <li><a href="/listarproductos">listar productos</a></li>
      <li><a href="/facturar">crear facturas</a></li>
      <li><a href="/listarfacturas">listar facturas</a></li>
    
  </div>
</nav>
<div class="card-header">
        <h1 class="center-align"><B>BIENVENIDOS A LA LICORERA</B></h1>


  <h3>¡Donde puedes encontrar los mejores licores, con los mejores descuentos!</h3>

</div>
</body>