<div class="card-header">
<h1 class="center-align" >Lista de facturas</h1>
<h4  style="padding-left: 21em">
    <a [routerLink]="['/facturar']" class="btn btn-light btn-xs">&laquo; Volver a facturar</a>
  </h4>
<body>
   
<p *ngIf="!(factura && factura.length)">
  no existen registros
</p>

<table class="table table-striped table-hover table-bordered my-3" *ngIf="(factura && factura.length)">
  <thead>
    <tr>
    
      <th>id </th>
      <th>fecha</th>
      <th>hora</th>
      <th>total</th>
      <th>detalle</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let factura of factura">
      <td>{{factura.id}}</td>
      <td>{{factura.fecha}}</td>
      <td>{{factura.hora}}</td>
      <td>{{factura.total}}</td>
      <td><button class="btn btn-primary btn-sm" type="button"
        [routerLink]="['/facturas/' + factura.id]">ver</button></td>
      
    </tr>
  </tbody>
</table>

</body>
</div>